<footer class="py-5 text-center text-white mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h2>Me contacter</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque dignissimos dolorem impedit,
                    ipsa maxime molestiae natus perferendis quibusdam quis quos rem soluta, ut! Dolorum eos in nemo
                    pariatur voluptatum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cupiditate dolore ea est,
                    fugit hic impedit ipsum iure iusto labore, nemo officiis optio perspiciatis quae quasi
                    quod quos sunt?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cupiditate dolore ea est,
                    fugit hic impedit ipsum iure iusto labore, nemo officiis optio perspiciatis quae quasi
                    quod quos sunt?</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <p class="text-white">composant backoffice</p>
                <p class="text-white">sylvain guerrin | 2019</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h2>Les différents réseaux</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cupiditate dolore ea est,
                    fugit hic impedit ipsum iure iusto labore, nemo officiis optio perspiciatis quae quasi
                    quod quos sunt?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cupiditate dolore ea est,
                    fugit hic impedit ipsum iure iusto labore, nemo officiis optio perspiciatis quae quasi
                    quod quos sunt?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cupiditate dolore ea est,
                    fugit hic impedit ipsum iure iusto labore, nemo officiis optio perspiciatis quae quasi
                    quod quos sunt?</p>
            </div>
        </div>
    </div>
</footer>
