/*boutons*/
.btn-color{
    background-color: #061d30;
    color: #FFFFFF;
}
.btn-color:hover{
    opacity: 0.5;
    color: #FFFFFF;
}

/*barre de navigation*/
.navbar{
    background-color: #061d30;
    font-size: 1.1rem;
}
.navbar-brand{
    font-size: 1.9rem;
    font-weight: bold;
    color: #061d30;
}
.navbar-brand:hover{
    color: #004684!important;
}
.navbar-nav a{
    color: #ffffff;
    font-weight: bold;
}
.navbar-nav a:hover{
    color: #004684!important;
}
.active a{
    color: #004684!important;
}
.dropdown-item{
    color: #061d30!important;
}

/*footer*/
footer{
    background-color: #061d30;
    padding: 2% 0;
}
footer, footer a{
    color: #FFFFFF;
}

/*header*/
.header-admin{
    background-color: #061d30;
    color: #ffffff;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
